header {
	/*padding: 10px;*/
	/*display: block;*/
	/*height: 100px;*/
}

nav.navbar{
	display: flex;
	flex-flow: wrap;
}
ul.navbar-list li {
	list-style: none;

}
ul.navbar-list a:hover {
	    color: #df9c20;
}